*
{
  box-sizing: border-box;
}
/* ================ */
/* ===== BODY ===== */
/* ================ */
html
{
  scroll-behavior: smooth;
  height: 100%;
}
body
{
  height: 100%;
  font-family: Roboto;
  overflow-x: hidden;
}
img
{
  max-width: 100%;
  display: block;
}
/* ========== BUTTON ========= */
.button
{
  display: inline-block;
  max-width: 260px;
  width: 100%;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: 0;
  background-color: #EA625C;
  color: #FFFFFF;
  text-transform: uppercase;
}
.button:hover
{
  opacity: 0.8;
}
.button:active
{
  opacity: 0.6;
}

/* =============================================== */
/* ================= CONTAINER =================== */
/* =============================================== */
.container
{
  max-width: 1040px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

/* =========================================== */
/* ============== SITE HEADER ================ */
/* =========================================== */
.site-header{
  overflow-x: hidden;
}
.site-header-logo-link
{
  display: flex;
}
.site-header-logo-link:hover{
  opacity: 0.8;
}
.site-header-logo-link:active{
  opacity: 0.6;
}
.site-logo-img
{
  display: flex;
}
.site-header-top-container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.site-header-list
{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 40px;
  margin-left: auto;
}
.site-header-list-item
{
  list-style: none;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
}
.site-header-list-item:not(:last-child)
{
  margin-right: 30px;
}
.site-header-list-link
{
  text-decoration: none;
  color: #333333;
}
.site-header-list-link:hover
{
  opacity: 0.8;
}
.site-header-list-link:active
{
  opacity: 0.6;
}
.site-header-list-help-you-link
{
  color: #666666;
  padding-bottom: 6px;
  border-bottom: 1px solid #333333;
}
/* ======= HEADER MAIN ====== */
.site-header-main-container
{
  display: flex;
  position: relative;
  padding-top: 170px;
  padding-bottom: 185px;
}
.hero-img
{
  position: absolute;
  left: calc(50% + 230px);
  bottom: 0;
  max-width: 587px;
  height: 565px;
}
.site-content-box
{
  max-width: 490px;
  width: 100%;
}
.site-content-heading
{
  font-family: Roboto;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color:  #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.site-content-text
{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #777777;
  border-left: 3px solid #888888;
  padding: 0;
  margin: 0;
  padding-left: 40px;
  margin-bottom: 30px;
}
.site-header-bottom-line
{
  display: flex;
  padding: 0;
  margin: 0;
  height: 2px;
  background-color: #DDDDDD;
  border: 0;
}
/* =============================== */
/* ========= MAIN SECTION ======== */
/* =============================== */
.main-content
{
  flex-grow: 1;
}
.site-main-container
{
  padding-top: 68px;
  padding-bottom: 70px;
}
.site-main-top
{
  display: flex;
}
.site-main-top-box
{
  max-width: 280px;
  width: 100%;
}
.site-main-top-box:not(:last-child)
{
  margin-right: 80px;
}
.site-main-top-box-heading
{
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.site-main-top-box-text
{
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  padding-bottom: 20px;
}
.box-bottom
{
  display: flex;
}
.rectangle
{
  width: 8px;
  height: 8px;
  background-color: #DDDDDD;
  margin-right: 10px;
}
.site-main-box-link
{
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #EA625C;
}
.site-main-box-link:hover
{
  width: 100%;
  opacity: 0.8;
}
.site-main-box-link:active
{
  opacity: 0.6;
}
.site-main-box-link::before
{
  display: inline-block;
  width: 40px;
  height: 3px;
  background-color: #EA625C;
  content: "";
  margin-right: 10px;
}
.site-main-box-link:hover::before
{
  width: 100%;
  max-width: 60px;
  opacity: 0.8;
}
/* ======================= */
/* ======== FEATURE ====== */
/* ======================= */
.site-feature-container
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
}
.feature-content-box
{
  margin-right: 24px;
}
.feature-img
{
  display: flex;
  width: 400px;
  height: 600px;
}

/* =============================== */
/* ======= SITE FOOTER =========== */
/* =============================== */
.site-footer
{
  padding-top: 240px;
  padding-bottom: 240px;
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
}
.site-footer-container{

  display: flex;
  justify-content: flex-end;
}
.footer-content-heading
{
  color: #FFFFFF;
}
.footer-content-text
{
  color: #FFFFFF;
  border-left: 3px solid #FFFFFF;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .site-footer
  {
    background-image: url(../img/background@2x.jpg);
  }
}
@media only screen and (max-width: 1200px){
  .hero-img{
    left: calc(50% + 170px);
  }
}
@media only screen and (max-width: 992px){
  .site-header-main-container{
    padding-top: 140px;
    padding-bottom: 150px;
  }
  .site-content-box{
    max-width: 400px;
  }
  .site-content-box h2{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .site-content-box p{
    font-size: 15px;
    line-height: 22.5px;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .hero-img{
    left: calc(50% + 120px);
    width: 470px;
    height: 452px;
  }
  .feature-img{
    width: 360px;
    height: 540px;
  }
}
@media only screen and (max-width: 800px){
  .site-header-main-container{
    padding-top: 110px;
    padding-bottom: 120px;
  }
  .site-content-box{
    max-width: 350px;
  }
  .site-content-box h2{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .site-content-box p{
    font-size: 15px;
    line-height: 22.5px;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .site-content-box a{
    max-width: 210px;
    font-size: 16px;
    line-height: 24px;
  }
  .hero-img{
    left: calc(50% + 90px);
    width: 411px;
    height: 395px;
  }
  .site-feature-container{
    padding-top: 40px;
  }
  .feature-img{
    width: 320px;
    height: 480px;
  }
}
@media only screen and (max-width: 700px){
  .site-header-main-container {
    padding-top: 60px;
    padding-bottom: 340px;
  }
  .hero-img{
    left: calc(50% + 50px);
  }
  .site-main-top{
    flex-direction: column;
    align-items: center;
  }
  .site-main-top-box{
    max-width: 350px;
  }
  .site-main-top-box:not(:last-child){
    margin-right: 0;
    margin-bottom: 50px;
  }
  .site-feature-container{
    flex-direction: column;
  }
  .feature-content-box{
    margin-right: 0;
    margin-bottom: 24px;
  }
  .feature-img{
    width: 350px;
  }
  .site-footer-container{
    justify-content: center;
  }
}

@media only screen and (max-width: 600px){
.site-header-top-container{
  position: relative;
}
.site-header-list{
  position: absolute;
  bottom: -100%;
  left: calc((100% - 260px) / 2);
  margin-right: 0;
}
  .site-header-main-container{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 440px;
  }
  .hero-img{
    left: calc((100% - 411px) / 2);
  }
  .feature-img{
    width: 320px;
  }
}
@media only screen and (max-width: 450px){
  .site-header-main-container{
    padding-bottom: 400px;
  }
  .hero-img{
    left: calc((100% - 352px) / 2);
    width: 352px;
    height: 339px;
  }
}
@media only screen and (max-width: 385px){
  .site-header-main-container{
    padding-bottom: 340px;
  }
  .hero-img{
    left: calc((100% - 294px) / 2);
    width: 294px;
    height: 283px;
  }
  .feature-img{
    width: 300px;
    height: 450px;
  }
}